# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build folders
/bin/
/dist/

# Go workspace (optional, if using go.work)
go.work
go.work.sum

# Dependency directories (only if NOT using Go modules)
vendor/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.local

**/node_modules